<!DOCTYPE html>
<html>
<head lang="en">
    {% import "bootstrap/wtf.html" as wtf %}
    <title>Codellect Login</title>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                console.log(authResult['code']);

                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');

                //// Send the code to the server
                var csrftoken = $('meta[name=csrf-token]').attr('content')

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

                $.ajax({
                    type: 'POST',
                    url: '/gconnect',
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response.
                        if (result) {
                            $('#login').hide();
                            $('#result').html('Login Successful!<br>' + result + '</br>Rediecting...')
                            setTimeout(function () {
                                window.location.href = "/dashboard";
                            }, 4000);
                        }
                        else if (authResult['error']) {
                            console.log("There was an error: " + authResult['error']);
                        }
                        else {
                            $('#result').html('Failed to make a server side call. Check your configuration' +
                                    ' and console');
                        }
                    },
                    processData: false,
                    data: authResult['code']
                });
            } else {
                // There was an error.
            }
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '606353289504431',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.2' // use version 2.2
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log(access_token);
            FB.api('/me', function (response) {
                var csrftoken = $('meta[name=csrf-token]').attr('content')

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

                $.ajax({
                    type: 'POST',
                    url: '/fbconnect',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            $('#login').hide();
                            $('#result').html('Login Successful!<br>' + result + '</br>Rediecting...')
                            setTimeout(function () {
                                window.location.href = "/dashboard";
                            }, 4000);
                        }
                        else {
                            $('#result').html('Failed to make a server side call. Check your configuration' +
                                    ' and console');
                        }
                    }
                });

            })
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Catalog</a>
    </div>
</nav>

<br><br>

<div class="container" id="login">
    <div class="col-md-12">
        <div class="col-md-4">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <a class="btn btn-link" href="/register">New Users: Click Here</a>
        </div>
        <div class="col.md-8"></div>
    </div>
    <div class="col-md-12">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <div>
                        <div id="signinButton" class="col-md-2">
                        <span class="g-signin"
                              data-scope="openid email"
                              data-clientid="724210304088-6p9u4l3sr4n840itcl054b3cctkbf6ur"
                              data-redirecturi="postmessage"
                              data-accesstype="offline"
                              data-cookiepolicy="single_host_origin"
                              data-callback="signInCallback">
                        </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button>
                            <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                                Login with Facebook
                            </fb:login-button>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='lib/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap.js') }}"></script>

</body>
</html>