<!DOCTYPE html>
<html lang="en">
<head>
    {% import "bootstrap/wtf.html" as wtf %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Catalog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                {% if current_user.is_authenticated() %}
                    <li><a href="/add/item">Add Item</a></li>
                    <li><a href="/logout">Sign Out</a></li>
                {% else %}
                    <li><a href="/login">Sign in</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="category_list" class="nav nav-sidebar">
                {% if categories %}
                    {% for category in categories %}
                        <li {% if loop.index0 == 0 %} class="active"  {% endif %}>
                            <a href="#" id="{{category.id}}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <h1 class="page-header">Dashboard</h1>

            <div id="category_items">
                <div class="col-sm-4 col-sm-offset-1 bg-success top-buffer">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='lib/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap.js') }}"></script>
<script>
    $(document).ready(function () {
        {% if categories %}
            {% for category in categories %}
                {% if loop.index0 == 0 %}
                    item0 = '#';
                    item0 += {{ category.id }};
                    $(item0).click();
                {% endif %}
            {% endfor %}
        {% endif %}
    });

    $("#category_list").click(function (event) {
    var category = event.target.id;
    //TODO: Make current list item selection as active
    //console.log($("#category").parent());
    if($(event.target).parent().siblings().hasClass('active'))
        $(event.target).parent().siblings().removeClass('active');
    $(event.target).parent().addClass('active');
    console.log(category);
    $.ajax({
        type : 'GET',
        url : '/api/v1.0/category/' + category,
        contentType: 'application/json; charset=utf-8',
        success: function(result){
            $('#category_items').empty();

            for(var index in result['items']) {
                new_row = document.createElement('div');
                new_row.className = "col-sm-4 col-sm-offset-1 bg-success top-buffer";

                var str = "<h3>" + result['items'][index].name + "</h3>";
                str += result['items'][index].description;
                    if(result) {
                        if (result['items'][index].isOwner == 1)
                        {
                            str += '<br/><button type=\"button\" ' +
                                    'class=\"btn btn-success  col-sm-3 col-sm-offset-2"' +
                                    'onClick=editItem('+ result['items'][index].id +')>Edit</button>';
                            str += '<button type=\"button\" class=\"btn btn-danger col-sm-3 col-sm-offset-2\"' +
                                    'onClick=deleteItem('+ result['items'][index].id +')>Delete</button>';
                            str += '<br/><br/>';
                        }
                    }
                new_row.innerHTML = str;
                $("#category_items").append(new_row);
            }
        }
    })
})

function editItem(id)
{
    location.href= '/edit/item/'+id;
}

function deleteItem(id)
{
    location.href= '/delete/item/'+id;
}

</script>
</body>
</html>
